footer
{
    background-color: white;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p, footer a
{
    color: black;
    font-size: calc(0.6rem + 0.4vh);
    font-weight: 400;
}
footer a
{
    font-size: calc(0.6rem + 0.2vh);
    color: #ff8562;
    margin-top: 0.5vh;
}